<!DOCTYPE html>
<html ng-app="nikita-arkivar">
<head>
  <meta charset="UTF-8">
  <title>nikita-noark5</title>
  <script src="dependencies/internal/config.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/jquery/3.3.1-1/jquery.min.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/angularjs/1.7.0/angular.min.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/popper.js/1.14.1/umd/popper.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script
    src="dependencies/vendor/META-INF/resources/webjars/angular-file-upload/12.2.13/ng-file-upload-all.js"></script>

  <script src="dependencies/internal/login.js"></script>

  <link href="dependencies/vendor/META-INF/resources/webjars/bootstrap/4.1.1/css/bootstrap.min.css"
        rel="stylesheet" type="text/css">

  <link
    href="dependencies/vendor/META-INF/resources/webjars/font-awesome/5.0.9/web-fonts-with-css/css/fontawesome-all.css"
    rel="stylesheet" type="text/css">

  <script src="dependencies/internal/common_functionality.js"></script>
  <script src="dependencies/internal/saksbehandler.js"></script>

  <!-- Manually setting the size of the modal for creating a new user -->
  <style media="screen" type="text/css">
    .col-padding-right {
      padding-right: 15px;
    }
  </style>
</head>

<body ng-controller="SaksbehandlerController">

<nav class="navbar navbar-expand-sm bg-light">
  <a class="navbar-brand">nikita-noark5-core@oslomet</a>

  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
        <span class="fa fa-bars"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <a ng-show="userIsAdmin" class="nav-link" href="#">Innstillinger &nbsp; <span class="fas fa-cog"></span></a>
        <a class="nav-link" href="#" ng-click="doLogout()">Logg ut &nbsp; <span class="fas fa-sign-out-alt"></span></a>
      </div>
    </li>
  </ul>
</nav>

<div>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" ng-click="doShowCaseFileListCard()">
        <a href="#">Saksmapper</a>
      </li>
      <li class="breadcrumb-item" ng-click="doShowCaseFileCard()"
          ng-show="showCaseFileBreadcrumb">
        <a href="#">Saksmappe
          <span class="text-dark"
                ng-show="showRegistryEntryListBreadcrumb==true||
                showRegistryEntryBreadcrumb==true||
                showDocumentListBreadcrumb==true||
                showDocumentListBreadcrumb==true||
                showCorrespondencePartListBreadcrumb==true||
                showCorrespondencePartBreadcrumb==true">
            ({{caseFile.mappeID}}, {{caseFile.tittel | limitTo:30}})
          </span>
        </a>
      </li>
      <li class="breadcrumb-item" ng-click="doShowRegistryEntryListCard()"
          ng-show="showRegistryEntryListBreadcrumb">
        <a href="#">Journalposter</a>
      </li>
      <li class="breadcrumb-item" ng-click="doShowRegistryEntryCard()"
          ng-show="showRegistryEntryBreadcrumb">
        <a href="#">Journalpost
          <span class="text-dark"
                ng-show="showDocumentListBreadcrumb==true||
                showCorrespondencePartBreadcrumb==true">
            ({{registryEntry.journalpostnummer}}, {{registryEntry.tittel | limitTo:30}})
          </span>
        </a>
      </li>
      <li class="breadcrumb-item" ng-click="doShowDocumentListCard()"
          ng-show="showDocumentListBreadcrumb">
        <a href="#">Dokumenter</a>
      </li>
      <li class="breadcrumb-item"
          ng-show="showDocumentBreadcrumb">
        <a href="#">Dokument</a>
      </li>
      <li class="breadcrumb-item" ng-click="doShowCorrespondencePartCard()"
          ng-show="showCorrespondencePartBreadcrumb">
        <a href="#">Korrespondanseparter</a>
      </li>
    </ol>
  </nav>

  <!-- Card for the CaseFile list view -->
  <div class="card border-light mb-3" ng-show="showCaseFileListCard">
    <div class="card-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-12">
            <button class="btn btn-primary dropdown-toggle float-left"
                    type="button" data-toggle="dropdown"
                    ng-disabled="disableAllButtons" disableAllButtons>Velg
              arkivdel
              <span class="caret"></span></button>
            <ul class="dropdown-menu" ng-repeat="series in seriesList" ng-click="seriesSelected(series)">
              <li><a href="#">{{series.tittel | limitTo:20}}</a></li>
            </ul>
            </button>
            <button type="button" class="btn btn-primary float-right"
                    data-toggle="modal" data-target="#newCaseFileModal"
                    ng-disabled="disableAllButtons">
              Opprett saksmappe
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-hover">
              <thead>
              <tr>
                <th style="width: 40%">tittel</th>
                <th style="width: 20%">saksnr</th>
                <th style="width: 20%">status</th>
                <th style="width: 10%">opprettetDato</th>
                <th style="width: 10%">avsluttetDato</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="caseFile in caseFileList track by $index" ng-click="caseFileSelected(caseFile)">
                <td>
                  {{caseFile.tittel}}
                </td>
                <td>
                  {{caseFile.mappeID}}
                </td>
                <td>
                  {{caseFile.saksstatus}}
                </td>
                <td>
                  {{caseFile.opprettetDato | date:'yyyy-MM-dd'}}
                </td>
                <td>
                  {{caseFile.avsluttetDato | date:'yyyy-MM-dd'}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End card for the CaseFile list view -->

  <!-- Card for the RegistryEntry list view -->
  <div class="card border-light mb-3" ng-show="showRegistryEntryListCard">
    <div class="card-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-12">
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-hover">
              <thead>
              <tr>
                <th style="width: 20%">registreringsID</th>
                <th style="width: 20%">journalposttype</th>
                <th style="width: 60%">journaldato</th>
                <th style="width: 60%">tittel</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="registryEntry in registryEntryList"
                  ng-click="registryEntrySelected(registryEntry)">
                <td>
                  {{ registryEntry.registreringsID}}
                </td>
                <td>
                  {{ registryEntry.journalposttype }}
                </td>
                <td>
                  {{ registryEntry.journaldato }}
                </td>
                <td>
                  {{ registryEntry.tittel | limitTo:60 }}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End card for the RegistryEntry list view -->

  <!-- Card for the Document list view -->
  <div class="card border-light mb-3" ng-show="showDocumentListCard">
    <div class="card-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col col-12">
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-hover">
              <thead>
              <tr>
                <th style="width: 4% ">nr</th>
                <th style="width: 16%">tilknyttet som</th>
                <th style="width: 50%">tittel</th>
                <th style="width: 30%">dokumentetsDato</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="document in documentList" ng-click="documentSelected(document)">
                <td>
                  {{ document.dokumentnummer }}
                </td>
                <td>
                  {{ document.tilknyttetRegistreringSom }}
                </td>
                <td>
                  {{ document.tittel | limitTo:30 }}
                </td>
                <td>
                  {{ document.tilknyttetDato | date:'yyyy-MM-dd' }}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End card for the Document list view -->

  <!-- Card for an individual caseFile -->
  <div class="card border-light mb-3" ng-show="showCaseFileCard">
    <div class="card-header">
      <div class="col-lg-12">
        <div class="btn-toolbar float-right">
          <button type="button" class="btn btn-primary"
                  data-toggle="modal" data-target="#newRegistryEntryModal" ng-click="doLoadRegistryEntryModal()">
            Opprett Journalpost
          </button>
          <button type="button" class="btn btn-primary" ng-click="doShowRegistryEntryListCard()">
            Se Journalposter
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="col-lg-12">

          <div class="row">
            <div class="col-lg-12">
              <label for="systemID">systemID</label>
              <input id="systemID" class="form-control form-control-lg rounded-1" type="text"
                     ng-model="caseFile.systemID" disabled/>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-12">
                  <label class="control-label" for="tittelArkiv">Tittel</label>
                  <input id="tittelArkiv" class="form-control form-control-lg rounded-1" type="text"
                         ng-model="caseFile.tittel"
                         data-toggle="tooltip" data-placement="top"
                         title="Navnet på arkivet feks 'Eksempel kommune hovedarkiv'."/>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <label class="control-label" for="beskrivelseArkiv">Beskrivelse</label>
                  <textarea id="beskrivelseArkiv" class="form-control  form-control-lg rounded-1" rows="5"
                            ng-model="caseFile.beskrivelse"
                            data-toggle="tooltip" data-placement="top"
                            title="En beskrivelse av arkivet. Merk at dette er ikke en beskrivelse av organisasjonen.">
                </textarea>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-12">
                  <label class="control-label" for="arkivstatus">Arkivstatus:</label>
                  <select id="arkivstatus" class="form-control form-control-lg rounded-1"
                          ng-model="selectedCaseFileStatus"
                          data-toggle="tooltip" data-placement="top"
                          title="En arkiv kan enten være aktiv (status Opprettet) eller avsluttet (status Avsluttet). Merk! Å sette status til Avlsuttet angir at du er ferdig med arkivdanning i dette arkivet">
                    <option ng-selected="{{caseFileStatus.value == selectedCaseFileStatus}}"
                            ng-repeat="caseFileStatus in caseFileStatusList"
                            value="{{caseFileStatus.value}}">{{caseFileStatus.value}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <label class="control-label" for="dokumentmediumArkiv">Dokumentmedium:</label>
                  <select id="dokumentmediumArkiv" class="form-control form-control-lg rounded-1"
                          ng-model="selectedDocumentMediumCaseFile"
                          data-toggle="tooltip" data-placement="top"
                          title="Om materialet som skal registreres er elektronisk, analogt eller en kombinasjon av begge.">
                    <option ng-selected="{{documentMedium.value == selectedDocumentMediumCaseFile}}"
                            ng-repeat="documentMedium in documentMediumList"
                            value="{{documentMedium.value}}">{{documentMedium.value}}
                    </option>
                  </select>
                </div>
              </div>

              <!-- oppbevaringsted. Note this fields is only shown if documentMedium is not electronic. This will
                   have to be editable later. -->
              <div class="row" ng-show="selectedDocumentMediumCaseFile != 'Elektronisk arkiv'">
                <div class="col-lg-12">
                  <label class="control-label" for="oppbevaringsStedArkiv">Oppbevarings sted:</label>
                  <select id="oppbevaringsStedArkiv" class="form-control form-control-lg rounded-1"
                          ng-model="selectedStorageLocation"
                          data-toggle="tooltip" data-placement="top"
                          title="Hvor analogt materiale oppbevares.">
                    <option ng-selected="{{storageLocation.value == selectedStorageLocation}}"
                            ng-repeat="storageLocation in storageLocationList"
                            value="{{storageLocation.value}}">{{storageLocation.value}}
                    </option>
                  </select>
                </div>
              </div>

            </div>
          </div>

          <!-- sistEndretDato sistEndretAv. Note these fields are not supported yet!
               Note. These fields are only shown if sistEndretDato has a value
          -->
          <div class="row" ng-show="caseFile.sistEndretDato">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-12">
                  <label class="control-label" for="sistEndretDatoArkiv">sist endretDato</label>
                  <input id="sistEndretDatoArkiv" class="form-control form-control-lg rounded-1" type="text"
                         ng-model="caseFile.sistEndretDato"
                         data-toggle="tooltip" data-placement="top"
                         title="Når den sisten endringen skjedde på denne arkivenheten."
                         disabled/>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <label class="control-label" for="sistEndretAvArkiv">sist endretAv</label>
              <input id="sistEndretAvArkiv" class="form-control form-control-lg rounded-1" type="text"
                     ng-model="caseFile.sistEndretAv"
                     data-toggle="tooltip" data-placement="top"
                     title="Hvem som gjorde en endring på denne arkivenheten."
                     disabled/>
            </div>
          </div>
          <!-- opprettetDato and opprettetAv. -->
          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-12">
                  <label class="control-label" for="opprettetDatoArkiv">opprettetDato</label>
                  <input id="opprettetDatoArkiv" class="form-control form-control-lg rounded-1" type="text"
                         ng-model="caseFile.opprettetDato"
                         data-toggle="tooltip" data-placement="top"
                         title="Når denne arkivenheten ble opprettet."
                         disabled/>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-12">
                  <label class="control-label" for="opprettetAvArkiv">opprettetAv</label>
                  <input id="opprettetAvArkiv" class="form-control form-control-lg rounded-1" type="text"
                         ng-model="caseFile.opprettetAv"
                         data-toggle="tooltip" data-placement="top"
                         title="Hvem som opprettet denne arkivenheten."
                         disabled/>
                </div>
              </div>
            </div>
          </div>
          <!-- avsluttetDato and avsluttetAv. Note. These fields are only shown if avsluttetDato has a value -->
          <div class="row" ng-show="caseFile.avsluttetDato">
            <div class="col-lg-6">
              <label class="control-label" for="avsluttetDatoArkiv">avsluttetDato</label>
              <input id="avsluttetDatoArkiv" class="form-control form-control-lg rounded-1" type="text"
                     ng-model="caseFile.avsluttetDato"
                     data-toggle="tooltip" data-placement="top"
                     title="Når denne arkivenheten ble avsluttet."
                     disabled/>
            </div>
            <div class="col-lg-6">
              <label class="control-label" for="avsluttetAvArkiv">avsluttetAv</label>
              <input id="avsluttetAvArkiv" class="form-control form-control-lg rounded-1" type="text"
                     ng-model="caseFile.avsluttetAv"
                     data-toggle="tooltip" data-placement="top"
                     title="Hvem som avsluttet denne arkivenheten."
                     disabled/>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <button type="button" class="btn btn-primary float-right" ng-click="updateCaseFile()">
                Oppdater saksmappen
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End card for an individual caseFile -->

  <!-- Card for an individual registryEntry -->
  <div class="card border-light mb-3" ng-show="showRegistryEntryCard">
    <div class="card-header">
      <div class="col-lg-12">
        <div class="btn-toolbar float-right">
          <!-- These should be the drop-down button -->
          <button type="button" class="btn btn-primary"
                  data-toggle="modal" data-target="#newCorrespondancePartModal"
                  ng-click="doLoadCorrespondancePartModal()">
            Opprett korrespondansepart
          </button>
          <button type="button" class="btn btn-primary" ng-click="doShowRegistryEntryListCard()">
            Se korrespondanseparter
          </button>
          <button type="button" class="btn btn-primary"
                  data-toggle="modal" data-target="#newDocumentDescriptionModal"
                  ng-click="doLoadDocumentDescriptionModal()">
            Opprett dokument
          </button>
          <button type="button" class="btn btn-primary" ng-click="doShowDocumentListCard()">
            Se dokumenter
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="col-lg-12">

          <div class="row">
            <div class="col-lg-12">
              <label for="systemIDForRegistryEntry">systemID</label>
              <input id="systemIDForRegistryEntry" class="form-control form-control-lg rounded-1" type="text"
                     ng-model="registryEntry.systemID" disabled/>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-12">
                  <label class="control-label" for="titleForRegistryEntry">Tittel</label>
                  <input id="titleForRegistryEntry" class="form-control form-control-lg rounded-1" type="text"
                         ng-model="registryEntry.tittel"
                         data-toggle="tooltip" data-placement="top"
                         title="En overordnet beskrivelse av innholdet i journalposten."/>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <label class="control-label" for="descriptionForRegistryEntry">Beskrivelse</label>
                  <textarea id="descriptionForRegistryEntry" class="form-control  form-control-lg rounded-1" rows="5"
                            ng-model="registryEntry.beskrivelse"
                            data-toggle="tooltip" data-placement="top"
                            title="En beskrivelse av innholdet. Der det er behov for en utvidet beskrivelse av dokumentet og eventuelle vedlegg, kan det legges til her.">
                </textarea>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-12">
                  <label class="control-label" for="registryEntryStatus">Journalstatus:</label>
                  <select id="registryEntryStatus" class="form-control form-control-lg rounded-1"
                          ng-model="selectedRegistryEntryStatus"
                          data-toggle="tooltip" data-placement="top"
                          title="Status på journalposten">
                    <option ng-selected="{{registryEntryStatus.value == selectedRegistryEntryStatus}}"
                            ng-repeat="registryEntryStatus in registryEntryStatusList"
                            value="{{registryEntryStatus.value}}">{{registryEntryStatus.value}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <label class="control-label" for="documentMediumForRegistryEntry">Dokumentmedium:</label>
                  <select id="documentMediumForRegistryEntry" class="form-control form-control-lg rounded-1"
                          ng-model="selectedDocumentMediumRegistryEntry"
                          data-toggle="tooltip" data-placement="top"
                          ng-change="checkDocumentMediumForRegistryEntry()"
                          title="Om materialet som skal registreres er elektronisk, analogt eller en kombinasjon av begge.">
                    <option ng-selected="{{documentMedium.value == selectedDocumentMediumRegistryEntry}}"
                            ng-repeat="documentMedium in documentMediumList"
                            value="{{documentMedium.value}}">{{documentMedium.value}}
                    </option>
                  </select>
                </div>
              </div>

              <!-- oppbevaringsted. Note this fields is only shown if documentMedium is not electronic. This will
                   have to be editable later. -->
              <div class="row" ng-show="selectedDocumentMediumRegistryEntry != 'Elektronisk arkiv'">
                <div class="col-lg-12">
                  <label class="control-label" for="storageLocationForRegistryEntry">Oppbevarings sted:</label>
                  <select id="storageLocationForRegistryEntry" class="form-control form-control-lg rounded-1"
                          ng-model="selectedStorageLocation"
                          data-toggle="tooltip" data-placement="top"
                          title="Hvor analogt materiale oppbevares.">
                    <option ng-selected="{{storageLocation.value == selectedStorageLocation}}"
                            ng-repeat="storageLocation in storageLocationList"
                            value="{{storageLocation.value}}">{{storageLocation.value}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <ul class="nav nav-tabs">
              <li class="active dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Korrespondansepart
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Ny korrespondansepart (person)</a></li>
                  <li><a href="#">Ny korrespondansepart (intern)</a></li>
                  <li><a href="#">Ny korrespondansepart (enhet)</a></li>
                </ul>
              </li>
              <li><a href="#">Merknader</a></li>
              <li><a href="#">Menu 3</a></li>
            </ul>
          </div>

          <!-- sistEndretDato sistEndretAv. Note these fields are not supported yet!
               Note. These fields are only shown if sistEndretDato has a value
          -->
          <div class="row" ng-show="registryEntry.sistEndretDato">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-12">
                  <label class="control-label" for="lastChangedDateForRegistryEntry">sist endretDato</label>
                  <input id="lastChangedDateForRegistryEntry" class="form-control form-control-lg rounded-1" type="text"
                         ng-model="registryEntry.sistEndretDato"
                         data-toggle="tooltip" data-placement="top"
                         title="Når den sisten endringen skjedde på denne arkivenheten."
                         disabled/>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <label class="control-label" for="lastChangedByForRegistryEntry">sist endretAv</label>
              <input id="lastChangedByForRegistryEntry" class="form-control form-control-lg rounded-1" type="text"
                     ng-model="registryEntry.sistEndretAv"
                     data-toggle="tooltip" data-placement="top"
                     title="Hvem som gjorde en endring på denne arkivenheten."
                     disabled/>
            </div>
          </div>
          <!-- opprettetDato and opprettetAv. -->
          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-12">
                  <label class="control-label" for="createdDateForRegistryEntry">opprettetDato</label>
                  <input id="createdDateForRegistryEntry" class="form-control form-control-lg rounded-1" type="text"
                         ng-model="registryEntry.opprettetDato"
                         data-toggle="tooltip" data-placement="top"
                         title="Når denne arkivenheten ble opprettet."
                         disabled/>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-12">
                  <label class="control-label" for="createdByForRegistryEntry">opprettetAv</label>
                  <input id="createdByForRegistryEntry" class="form-control form-control-lg rounded-1" type="text"
                         ng-model="registryEntry.opprettetAv"
                         data-toggle="tooltip" data-placement="top"
                         title="Hvem som opprettet denne arkivenheten."
                         disabled/>
                </div>
              </div>
            </div>
          </div>
          <!-- avsluttetDato and avsluttetAv. Note. These fields are only shown if avsluttetDato has a value -->
          <div class="row" ng-show="registryEntry.avsluttetDato">
            <div class="col-lg-6">
              <label class="control-label" for="finalisedDateForRegistryEntry">avsluttetDato</label>
              <input id="finalisedDateForRegistryEntry" class="form-control form-control-lg rounded-1" type="text"
                     ng-model="registryEntry.avsluttetDato"
                     data-toggle="tooltip" data-placement="top"
                     title="Når denne arkivenheten ble avsluttet."
                     disabled/>
            </div>
            <div class="col-lg-6">
              <label class="control-label" for="finalisedByForRegistryEntry">avsluttetAv</label>
              <input id="finalisedByForRegistryEntry" class="form-control form-control-lg rounded-1" type="text"
                     ng-model="registryEntry.avsluttetAv"
                     data-toggle="tooltip" data-placement="top"
                     title="Hvem som avsluttet denne arkivenheten."
                     disabled/>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <button type="button" class="btn btn-primary float-right" ng-click="updateRegistryEntry()">
                Oppdater journalposten
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End card for an individual registryEntry -->

  <!-- Card for an individual document -->
  <div class="card border-light mb-3" ng-show="showDocumentCard">
    <div class="card-header">
      <div class="col-lg-12">
        <div class="btn-toolbar float-right">
          <button type="button" class="btn btn-primary"
                  data-toggle="modal" data-target="#newDocumentObjectModal"
                  ng-click="doLoadDocumentObjectModal()">
            Opprett dokumentobjekt
          </button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <label for="systemIDForDocument">systemID</label>
              <input id="systemIDForDocument" class="form-control form-control-lg rounded-1" type="text"
                     ng-model="documentDescription.systemID" disabled/>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-1">
              <div class="row">
                <div class="col-lg-12">
                  <label class="control-label" for="documentNumber">Dokumentnummer</label>
                  <input id="documentNumber" class="form-control form-control-lg rounded-1" type="text"
                         ng-model="documentDescription.dokumentnummer"
                         data-toggle="tooltip" data-placement="top"
                         title="Dokumentnummer som viser rekkefølge av dokumentene i journalposten."
                         disabled/>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <label class="control-label" for="documentTitle">Tittel</label>
              <input id="documentTitle" class="form-control form-control-lg rounded-1" type="text"
                     ng-model="documentDescription.tittel"
                     data-toggle="tooltip" data-placement="top"
                     title="Tittel på dokumentet. Kan kopieres fra journalposten ved behov."/>
            </div>
            <div class="col-lg-3">
              <div class="row">
                <div class="col-lg-12">
                  <label class="control-label" for="associatedWithRecordAs">tilknyttetRegistreringSom</label>
                  <select id="associatedWithRecordAs" class="form-control form-control-lg rounded-1"
                          ng-model="selectedAssociatedWithRecordAs"
                          data-toggle="tooltip" data-placement="top"
                          title="Dokumentet kan enten være tilknyttet som Hoveddokument eller Vedlegg">
                    <option ng-selected="{{associatedWithRecordAs.value == selectedAssociatedWithRecordAs}}"
                            ng-repeat="associatedWithRecordAs in associatedWithRecordAsList"
                            value="{{associatedWithRecordAs.value}}">{{associatedWithRecordAs.value}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <label class="control-label" for="documentType">Dokumenttype</label>
                  <input id="documentType" class="form-control  form-control-lg rounded-1"
                         ng-model="documentDescription.dokumenttype"
                         data-toggle="tooltip" data-placement="top"
                         title="Ingen obligatoriske verdi, men aktuelle verdier kan f.eks. være: Brev, Rundskriv, Faktura, Ordrebekreftelser"/>
                </div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="row">
                <div class="col-lg-12">
                  <label class="control-label" for="documentStatus">dokumentstatus</label>
                  <select id="documentStatus" class="form-control form-control-lg rounded-1"
                          ng-model="selectedDocumentStatus"
                          data-toggle="tooltip" data-placement="top"
                          title="Dokumentet er er enten 'under redigering' eller 'ferdigstilt'. ">
                    <option ng-selected="{{documentStatus.value == selectedDocumentStatus}}"
                            ng-repeat="documentStatus in documentStatusList"
                            value="{{documentStatus.value}}">{{documentStatus.value}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3" ng-repeat="documentObject in documentObjectList"
               ng-click="selectDocumentObject(documentObject)">
            <div class="col-lg-12">

              <div class="card">
                <div class="card-body">
                  <div class="card-header">
                    <h6 class="text-muted">dokumentObjekt</h6>
                  </div>
                  <div class="row">
                    <div class="col-lg-3">
                      <label class="control-label" for="variantformat">Variantformat</label>
                      <select id="variantformat" class="form-control form-control-lg rounded-1"
                              ng-model="selectedVariantFormat"
                              data-toggle="tooltip" data-placement="top"
                              title="'Produksjonsformat', 'Arkivformat', 'Dokument hvor deler av innholdet er skjermet'">
                        <option ng-selected="{{variantformat.value == selectedVariantFormat}}"
                                ng-repeat="variantformat in variantFormatList"
                                value="{{variantformat.value}}">{{variantformat.value}}
                        </option>
                      </select>
                    </div>
                    <div class="col-lg-1">
                      <label class="control-label" for="version">versjonsnummer</label>
                      <input id="version" class="form-control  form-control-lg rounded-1"
                             ng-model="documentObject.versjonsnummer"
                             data-toggle="tooltip" data-placement="top"
                             title="Versjonsnummer gjelder bare arkiverte versjoner. Produksjonsversjoner genererer ikke metadata som skal følge med i et arkivuttrekk."
                             disabled/>
                    </div>
                    <div class="col-lg-2">
                      <label class="control-label" for="fileSize">filstørrelse</label>
                      <input id="fileSize" class="form-control  form-control-lg rounded-1"
                             ng-model="documentObject.filstoerrelse"
                             data-toggle="tooltip" data-placement="top"
                             title="Filstoerrelsen i bytes" disabled/>
                    </div>
                    <div class="col-lg-2">
                      <label class="control-label" for="format">Format:</label>
                      <input id="format" class="form-control  form-control-lg rounded-1"
                             ng-model="documentObject.format" data-toggle="tooltip"
                             data-placement="top" title="Filformatet feks odt, docx, png osv"
                             data-toggle="tooltip" data-placement="top" disabled/>
                    </div>
                    <div class="col-lg-4">
                      <label class="control-label" for="filename">Filnavn:</label>
                      <input id="filename" class="form-control  form-control-lg rounded-1"
                             ng-model="documentObject.filnavn" data-toggle="tooltip"
                             data-placement="top" title="Filformatet feks odt, docx, png osv"
                             data-toggle="tooltip" data-placement="top" disabled/>
                    </div>

                  </div>

                  <div class="row">
                    <div class="input-group">
                      <div class="col-lg-7">
                        <label class="control-label" for="checksum">Sjekksum</label>
                        <input id="checksum" class="form-control  form-control-lg rounded-1"
                               ng-model="documentObject.sjekksum"
                               data-toggle="tooltip" data-placement="top"
                               title="En verdi som beregnes ut fra innholdet i dokumentet, og som dermed gir integritetssikring til dokumentets innhold"
                               readonly/>
                      </div>
                      <div class="col-lg-2">
                        <label class="control-label" for="checksumAlgorithm">sjekksumAlgoritme</label>
                        <input id="checksumAlgorithm" class="form-control form-control-lg rounded-1"
                               ng-model="documentObject.sjekksumAlgoritme" data-toggle="tooltip" data-placement="top"
                               title="Algoritmen som er brukt for å beregne sjekksummen" disabled/>
                      </div>
                      <div class="col-lg-2">

                        <span class="input-group-btn">
                        <button id="download" ng-show="documentObject.sjekksum != null"
                                ng-click="doDownloadDocument(documentObject)"
                                type="button" class="btn btn-info">
                          <span class="fas fa-download fa-2x"></span>
                        </button>
                        </span>
                        <span class="input-group-btn">
                        <button id="upload" ng-show="documentObject.sjekksum == null"
                                class="btn btn-info"
                                type="file" ngf-select="uploadFiles(documentObject, $file, $invalidFiles)"
                                accept="pdf/*" ngf-max-height="1000" ngf-max-size="1MB">
                          <span class="fas fa-upload fa-2x"></span>
                        </button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End card for an individual document -->

<!--modal to create new caseFile -->
<div id="newCaseFileModal" class="modal fade" tabindex="-1"
     role="dialog" aria-hidden="true" new-case-file-modal-dir>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Opprett ny saksmappe</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <label class="control-label" for="nyTittelSaksmappe">Tittel</label>
              <input id="nyTittelSaksmappe" class="form-control form-control-lg rounded-1" type="text"
                     data-toggle="tooltip" data-placement="top"
                     ng-model="newTitleForCaseFile"
                     title="Beskrivende tittel for saksmappe 'Søknad om barnehageplass'. Merk denne kan inneholde sensitiv informasjon"/>
            </div>
            <div class="col-1"></div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <label class="control-label" for="nyOffentligTittelSaksmappe">Offentligtittel</label>
              <input id="nyOffentligTittelSaksmappe" class="form-control form-control-lg rounded-1" type="text"
                     data-toggle="tooltip" data-placement="top"
                     ng-model="newPublicTitleForCaseFile"
                     title="Hvis tittel inneholder sensitiv informasjon, kan en annen versjon av tittel brukes"/>
            </div>
            <div class="col-1"></div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <label class="control-label" for="nyBeskrivelseSaksmappe">Beskrivelse</label>
              <textarea id="nyBeskrivelseSaksmappe" class="form-control form-control-lg rounded-1" rows="5"
                        data-toggle="tooltip" data-placement="top"
                        ng-model="newDescriptionForCaseFile"
                        title="En beskrivelse av saksmappeet. Merk at dette er ikke en beskrivelse av organisasjonen.">
              </textarea>
            </div>
            <div class="col-1"></div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <label class="control-label" for="nyDokumentmedium">Dokumentmedium:</label>
              <select id="nyDokumentmedium" class="form-control form-control-lg rounded-1"
                      ng-model="selectedDocumentMediumNewCaseFile"
                      data-toggle="tooltip" data-placement="top"
                      title="Om materialet som skal registreres er elektronisk, analogt eller en kombinasjon av begge.">
                <option ng-selected="{{documentMedium.value == selectedDocumentMediumNewCaseFile}}"
                        ng-repeat="documentMedium in documentMediumList"
                        value="{{documentMedium.value}}">{{documentMedium.value}}
                </option>
              </select>
            </div>
            <div class="col-1"></div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <div class="control-label" ng-show="selectedDocumentMediumNewCaseFile != 'Elektronisk arkiv'">
                <label class="control-label" for="nyOppbevaringsStedSaksmappe">Oppbevarings sted:</label>
                <select id="nyOppbevaringsStedSaksmappe" class="form-control form-control-lg rounded-1"
                        ng-model="selectedStorageLocation"
                        data-toggle="tooltip" data-placement="top"
                        title="Hvor analogt materiale oppbevares.">
                  <option ng-selected="{{storageLocation.value == selectedStorageLocation}}"
                          ng-repeat="storageLocation in storageLocationList"
                          value="{{storageLocation.value}}">{{storageLocation.value}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-1"></div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <label class="control-label" for="nySaksstatus">Saksstatus:</label>
              <select id="nySaksstatus" class="form-control form-control-lg rounded-1"
                      ng-model="newCaseStatusForCaseFile"
                      data-toggle="tooltip" data-placement="top"
                      title="Status på saken.">
                <option ng-selected="{{caseFileStatus.value == newCaseStatusForCaseFile}}"
                        ng-repeat="caseFileStatus in caseFileStatusList"
                        value="{{caseFileStatus.value}}">{{caseFileStatus.value}}
                </option>
              </select>
            </div>
            <div class="col-1"></div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <label class="control-label" for="nySaksansvarlig">Saksansvarlig</label>
              <input id="nySaksansvarlig" class="form-control form-control-lg rounded-1"
                     data-toggle="tooltip" data-placement="top"
                     ng-model="newCaseResponsibleForCaseFile"
                     title="Hvem som er ansvarlig for saken.">
              </textarea>
            </div>
            <div class="col-1"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-lg btn-primary float-left" data-dismiss="modal"
                ng-click="doDismissnewCaseFileModal()">
          Lukk
        </button>
        <button class="btn btn-lg btn-success float-right" ng-click="createCaseFile()">Opprett saksmappe</button>
      </div>
    </div>
  </div>
</div>
<!-- End modal to create a new caseFile -->

<!-- modal to create a new registryEntry -->
<div class="modal fade" id="newRegistryEntryModal"
     role="dialog" aria-hidden="true" new-registry-entry-modal-dir>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Opprett ny journalpost</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <label class="control-label" for="nyTittelJournalpost">Tittel</label>
              <input id="nyTittelJournalpost" class="form-control form-control-lg rounded-1" type="text"
                     data-toggle="tooltip" data-placement="top"
                     ng-model="newTitleForRegistryEntry"
                     title="Beskrivende tittel for journalposten som skal være dekkende for brevets innhold. Du kan kanskje gjenbruke deler av sakens tittel her. "/>
            </div>
            <div class="col-1"></div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <label class="control-label" for="nyOffentligTittelJournalpost">Offentligtittel</label>
              <input id="nyOffentligTittelJournalpost" class="form-control form-control-lg rounded-1" type="text"
                     data-toggle="tooltip" data-placement="top"
                     ng-model="newPublicTitleForRegistryEntry"
                     title="Hvis journalposttittel inneholder sensitiv informasjon, kan en annen versjon av tittel brukes"/>
            </div>
            <div class="col-1"></div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <label class="control-label" for="nyBeskrivelseJournalpost">Beskrivelse</label>
              <textarea id="nyBeskrivelseJournalpost" class="form-control form-control-lg rounded-1" rows="5"
                        data-toggle="tooltip" data-placement="top"
                        ng-model="newDescriptionForRegistryEntry"
                        title="En beskrivelse av journalpostet. Merk at dette er ikke en beskrivelse av organisasjonen.">
              </textarea>
            </div>
            <div class="col-1"></div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <label class="control-label" for="nyDokumentmedium">Dokumentmedium:</label>
              <select id="nyDokumentmediumJournalpost" class="form-control form-control-lg rounded-1"
                      ng-model="selectedDocumentMediumNewRegistryEntry"
                      data-toggle="tooltip" data-placement="top"
                      title="Om materialet som skal registreres er elektronisk, analogt eller en kombinasjon av begge.">
                <option ng-selected="{{documentMedium.value == selectedDocumentMediumNewRegistryEntry}}"
                        ng-repeat="documentMedium in documentMediumList"
                        value="{{documentMedium.value}}">{{documentMedium.value}}
                </option>
              </select>
            </div>
            <div class="col-1"></div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <div class="control-label" ng-show="selectedDocumentMediumNewRegistryEntry != 'Elektronisk arkiv'">
                <label class="control-label" for="nyOppbevaringsStedJournalpost">Oppbevarings sted:</label>
                <select id="nyOppbevaringsStedJournalpost" class="form-control form-control-lg rounded-1"
                        ng-model="selectedStorageLocation"
                        data-toggle="tooltip" data-placement="top"
                        title="Hvor analogt materiale oppbevares.">
                  <option ng-selected="{{storageLocation.value == selectedStorageLocation}}"
                          ng-repeat="storageLocation in storageLocationList"
                          value="{{storageLocation.value}}">{{storageLocation.value}}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-1"></div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <label class="control-label" for="nyJournalstatus">Journalstatus:</label>
              <select id="nyJournalstatus" class="form-control form-control-lg rounded-1"
                      ng-model="newRegistryEntryStatus"
                      data-toggle="tooltip" data-placement="top"
                      title="Status på saken.">
                <option ng-selected="{{registryEntryStatus.value == newRegistryEntryStatus}}"
                        ng-repeat="registryEntryStatus in registryEntryStatusList"
                        value="{{registryEntryStatus.value}}">{{registryEntryStatus.value}}
                </option>
              </select>
            </div>
            <div class="col-1"></div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <label class="control-label" for="nyJournalposttype">Journalposttype:</label>
              <select id="nyJournalposttype" class="form-control form-control-lg rounded-1"
                      ng-model="newRegistryEntryType"
                      data-toggle="tooltip" data-placement="top"
                      title="Status på saken.">
                <option ng-selected="{{registryEntryType.value == newRegistryEntryType}}"
                        ng-repeat="registryEntryType in registryEntryTypeList"
                        value="{{registryEntryType.value}}">{{registryEntryType.value}}
                </option>
              </select>
            </div>
            <div class="col-1"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-lg btn-primary float-left" data-dismiss="modal"
                ng-click="doDismissnewRegistryEntryModal()">
          Lukk
        </button>
        <button class="btn btn-lg btn-success float-right" ng-click="createRegistryEntry()">Opprett journalpost
        </button>
      </div>
    </div>
  </div>

</div>
<!-- End modal to create a new registryEntry -->

<!-- modal to create a new documentDescription -->
<div class="modal fade" id="newDocumentDescriptionModal"
     role="dialog" aria-hidden="true" new-document-description-modal-dir>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Opprett nytt dokument</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <label class="control-label" for="newTitleDocument">Tittel</label>
              <input id="newTitleDocument" class="form-control form-control-lg rounded-1" type="text"
                     data-toggle="tooltip" data-placement="top"
                     ng-model="newTitleForDocument"
                     title="Beskrivende tittel for dokumentet. Tittel fra journaposten kan brukes dersom det er ønskelig og dekkende. "/>
            </div>
            <div class="col-1"></div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <label class="control-label" for="newDescriptionDocument">Beskrivelse</label>
              <textarea id="newDescriptionDocument" class="form-control form-control-lg rounded-1" rows="5"
                        data-toggle="tooltip" data-placement="top"
                        ng-model="newDescriptionForDocument"
                        title="En beskrivelse av dokumentet.">
              </textarea>
            </div>
            <div class="col-1"></div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <label class="control-label" for="newAssociatedWithRecordAs">TilknyttetRegistreringSom:</label>
              <select id="newAssociatedWithRecordAs" class="form-control form-control-lg rounded-1"
                      ng-model="selectedAssociatedWithRecordAs"
                      data-toggle="tooltip" data-placement="top"
                      title="Status på saken.">
                <option ng-selected="{{associatedWithRecordAs.value == selectedAssociatedWithRecordAs}}"
                        ng-repeat="associatedWithRecordAs in associatedWithRecordAsList"
                        value="{{associatedWithRecordAs.value}}">{{associatedWithRecordAs.value}}
                </option>
              </select>
            </div>
            <div class="col-1"></div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <label class="control-label" for="newDocumentType">Dokumenttype:</label>
              <input id="newDocumentType" class="form-control form-control-lg rounded-1" type="text"
                     data-toggle="tooltip" data-placement="top"
                     ng-model="selectedDocumentType"
                     title="Ingen obligatoriske verdi, men aktuelle verdier kan f.eks. være: Brev, Rundskriv, Faktura, Ordrebekreftelser"/>
            </div>
            <div class="col-1"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-lg btn-primary float-left" data-dismiss="modal"
                ng-click="doDismissNewDocumentModal()">
          Lukk
        </button>
        <button class="btn btn-lg btn-success float-right" ng-click="createDocumentDescription()">Opprett dokument
        </button>
      </div>
    </div>
  </div>

</div>
<!-- End modal to create a new documentDescription -->

<!-- modal to create a new documentObject -->
<div class="modal fade" id="newDocumentObjectModal"
     role="dialog" aria-hidden="true" new-document-object-modal-dir>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Opprett nytt dokumentobjekt</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>
      </div>
      <div class="modal-body">
        <div class="form-group">

          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              <label class="control-label" for="newVariantFormat">Variantformat:</label>
              <select id="newVariantFormat" class="form-control form-control-lg rounded-1"
                      ng-model="selectedVariantFormat"
                      data-toggle="tooltip" data-placement="top"
                      title="'Produksjonsformat', 'Arkivformat', 'Dokument hvor deler av innholdet er skjermet'">
                <option ng-selected="{{variantFormat.value == selectedVariantFormat}}"
                        ng-repeat="variantFormat in variantFormatList"
                        value="{{variantFormat.value}}">{{variantFormat.value}}
                </option>
              </select>
            </div>
            <div class="col-1"></div>
          </div>
          <div class="row">
            <div class="col-1"></div>
            <div class="col-5">
              <label class="control-label" for="newFormat">Format:</label>
              <select id="newFormat" class="form-control form-control-lg rounded-1"
                      ng-model="selectedFormat"
                      data-toggle="tooltip" data-placement="top"
                      title="Filformatet feks odt, docx, png osv">
                <option ng-selected="{{format.id == selectedFormat}}"
                        ng-repeat="format in formatList"
                        value="{{format.id}}">{{format.id}}
                </option>
              </select>
            </div>
            <div class="col-1"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-lg btn-primary float-left" data-dismiss="modal"
                ng-click="doDismissnewDocumentObjectModal()">
          Lukk
        </button>
        <button class="btn btn-lg btn-success float-right" ng-click="createDocumentObject()">Opprett dokumentObjekt
        </button>
      </div>
    </div>
  </div>

</div>
<!-- End modal to create a new documentObject -->


</div>

</body>
</html>
