<!doctype html>
<html ng-app="nikita">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
  <title>Nikita browser</title>
  <script src="dependencies/internal/config.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/jquery/3.3.1-1/jquery.min.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/angularjs/1.7.0/angular.min.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/popper.js/1.14.1/umd/popper.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/angular-file-upload/12.2.13/ng-file-upload-all.js"></script>
  <link href="dependencies/vendor/META-INF/resources/webjars/bootstrap/4.1.1/css/bootstrap.min.css"
        rel="stylesheet" type="text/css">
  <link href="dependencies/vendor/META-INF/resources/webjars/font-awesome/5.0.9/web-fonts-with-css/css/fontawesome-all.css"
        rel="stylesheet" type="text/css">
  <script src="dependencies/vendor/json_editor/dist/jquery.json-editor.min.js" type="text/javascript"></script>
  <script src="dependencies/internal/common_functionality.js"></script>
  <script src="dependencies/internal/login.js"></script>
  <script src="dependencies/internal/search.js"></script>
</head>

<body ng-controller="SearchController">

<nav class="navbar navbar-expand-sm bg-light">
  <a class="navbar-brand" href="https://nikita.hioa.no/search.html">
    <span ng-show="!loggedIn">Nikita browser (Not logged in)</span>
    <span ng-show="loggedIn">Nikita browser ({{emailAddress}})</span>
  </a>

  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="#" id="navbardrop">
        <span class="fa fa-bars"></span>
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="nav-link" data-target="#loginModal" data-toggle="modal" href="#">
          Logg inn &nbsp; <span class="fas fa-sign-in-alt"></span></a>
        <a class="nav-link" href="#" ng-click="doLogout()">
          Logg ut &nbsp; <span class="fas fa-sign-out-alt"></span></a>
      </div>
    </li>
  </ul>
</nav>
<div class="card">
  <div class="card-body">
    <div class="container">

      <div class="card">
        <div class="card-body">
          <div class="container">
            <div class="col-12">
              <div class="row">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">OData spørring</span>
                  </div>
                  <textarea aria-label="OData spørring" class="form-control"
                            ng-model="odataQuery" rows="1">
  							</textarea>
                  <button class="btn btn-primary" ng-click="doSearch()" ng-disabled="!loggedIn" type="button">Søk
                  </button>
                </div>
                <hr/>
                <hr/>
                <div class="row">
                  <div class="col-12">
                    <pre id="json-display" ng-model="odataResult"></pre>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal to login -->
<div class="modal fade" id="loginModal" login-modal>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4>Logg på nikita</h4>
        <button class="close" data-dismiss="modal" type="button">×</button>
      </div>
      <div class="modal-body">
        <div class="col-md-6 col-md-offset-3">
          <div class="panel-body">
            <form role="form">
              <fieldset>
                <div class="form-group">
                  <input autofocus class="form-control"
                         name="emailAddress" ng-model="emailAddress" placeholder="Epost adresse" type="email">
                </div>
                <div class="form-group">
                  <input class="form-control" name="password"
                         ng-model="password" placeholder="Passord" type="password">
                </div>
                <div class="btn-toolbar">
                  <button class="btn btn-primary pull-right" ng-click="doLogin()"
                          type="button">Logg på
                  </button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End modal to login -->
</body>
</html>
